<article class="project">
	{{#link-to "projects.show" project}}
		<a class="imageContainer">
			<img src="{{project.image}}" alt="" class="image">
			<div class="middle">
				<div class="text">
					<span class="projectTitle">{{project.title}}</span>
				</div>
			</div>
		</a>
	{{/link-to}}
</article>