<div class="jumbo show-listing">
  	<div class="right"></div>
  	<h2>About</h2>
  	<div class="right detail-section">
		<p class="description">Diseñadora industrial apasionada por la creatividad, la innovación y el uso de nuevas tecnologías para mejorar los ambientes de aprendizaje.
		<br><br>
		Me motiva participar y desarrollar procesos de intervención y trabajo con la comunidad para beneficiar a la población infantil con necesidades especiales a través del diseño de mobiliario que mejoren sus condiciones de vida.
		<br><br>
		Mis proyectos han recibido reconocimientos como:
		<br><br>
		<b>Segundo lugar en el concurso “camilla/silla de ruedas” para niños del Hospital San Juan de Dios de Barcelona.</b>
		<br><br>
		<b>Invitada de honor por proyecto de grado a la escuela de diseño y artes plásticas de Cataluña, en el CCCB (Centro de Cultura Contemporánea de Barcelona)</b>.
		<br><br>
		<b>Integrante del grupo ganador para representar a la escuela Llotja en el Palau Robert de Barcelona por medio del diseño de un aparador.</b>
		<br><br>
		Co-fundadora y diseñadora en Nido Estudio, diseño de mobiliario e iluminación.</p>
	</div>
	<img src="/assets/images/maria.jpg" class="profile-pic">
</div>