<div class="container">
    <div class="menu">
        {{#link-to 'index'}}
            <img class="indexLogo" src="/assets/images/logo.png" alt="María Granda" height="132" width="150">
        {{/link-to}}
        <div class="left links">
            {{#link-to 'about'}}
                About
            {{/link-to}}
            {{#link-to 'contact'}}
                Contact
            {{/link-to}}
        </div>
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div>