<div class="jumbo">
  	<div class="right"></div>
  	<h2>Contact</h2>
  	<p>
      María Granda's contact info.
  	</p>
  	<p>
    	María Granda
    	<br>
      <i class="fa fa-mobile" aria-hidden="true"></i>
    	<span class="phone"><b>+1 (123) 456-7890</b></span>
    	<br>
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    	<a target="_blank" href="mailto:mariacalderongranda@gmail.com" class="email">
        <span><b>mariacalderongranda@gmail.com</b></span>
		  </a>
  	</p>
</div>