<div class="jumbo">
  	<div class="right"></div>
  	<h2>Projects</h2>
  	<p>
  		María Calderón's list of projects.
  	</p>
  	{{#link-to 'about' class="button"}}
    	About
  	{{/link-to}}
</div>
{{outlet}}